.jumbotron {
  padding-top: 6rem;
  background-color: #373a40;
  overflow: hidden;
}

.jumbotron h1,
.jumbotron p {
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.6);
}

.jumbotron img {
  box-shadow: 2px 4px 6px rgba(255, 255, 255, 0.3);
}

.wave {
  position: relative;
}

#projects,
footer {
  background-color: #373a40;
}

section {
  padding-top: 5rem;
}
