.jumbotron {
  padding-top: 6rem;
  background-color: #373a40;
  padding-bottom: 50px;
  overflow: hidden;
}

#projects,
footer {
  background-color: #373a40;
}

section {
  padding-top: 5rem;
}
